body {
  margin: 0px;
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: 'Mulish', sans-serif;

}

.navbar {
  background-color: #ffffff;
  text-align: center;
  font-size: large;
}

@media (max-width: 767px) {
  /* Estilos específicos para tamaños pequeños aquí */
  .navbar-brand img {
    max-width: 200px;
    height: auto;
    /* Otros estilos específicos para tamaños pequeños */
  }
}

.navbar-nav .nav-item {
  position: relative;
}

.navbar-nav .nav-item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  background-color: #007bff; /* Color del subrayado */
  transition: width 0.2s ease; /* Duración y tipo de animación */
}
 
.navbar-nav .nav-item:hover::before {
  width: 100%;
  left: 0;
}



.navbar-brand img {
  width: 350px; 
}

.section {
  padding: 80px 0;
}






.section-light {
  position: relative;
}

.custom-container {
  max-width: none;
}





.text-box-description {
  font-size:x-large;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(3, 26, 81, 0.7); /* Fondo oscuro semitransparente */
  padding: 20px;
  color: #ffffff;
  overflow: hidden; /* Oculta el contenido que se desborda */
}

@media (max-width: 767px){
  .text-box-description{
  margin-top:0px;
  font-size:large;
  font-weight: 100;
  position: absolute;
  background: rgba(3, 26, 81, 0.7); /* Fondo oscuro semitransparente */
  padding: 20px;
  color: #ffffff;
  overflow: hidden; /* Oculta el contenido que se desborda */
  }
}



@media (min-width: 768px){
  .section-light{
    background-image: url(../img/ai_1280.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px; 
    height: 100%;
  }
}

@media (max-width: 767px){
  .section-light{
    background-image: url(../img/ai_640.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 380px; 
    height:auto;
    
  }
}


h1, h2, h3, h4, h5, h6 {
  color: #767474;
}

.footer {
  background-color: #333333;
  color: #ffffff;
  padding: 20px 0;
}